@media only screen and (max-width:768px) {

    body {
    /* font-family: "Baloo Da 2", sans-serif; */
    font-family: SolaimanLipiNormal;
    font-size: 16px;
    line-height: 150%;
   overflow-x: hidden;
   color: #333;
}

span.navbar-toggler-icon {
    font-size: 13px;
    color: white;
}


.header-logo,
.footer-logo {
    width: 50%;
}

i.fa-brands.fa-whatsapp,
i.fa-brands.fa-instagram,
i.fa-brands.fa-youtube,
i.fa-brands.fa-x-twitter,
i.fa-brands.fa-facebook-f {
    font-size: 18px;
}

}


