*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "SolaimanLipiNormal";
    src: url('assets/fonts/solaimanlipi_20-04-07.eot');
    src: url('assets/fonts/solaimanlipi_20-04-07.eot')format('embedded-opentype'), url('assets/fonts/solaimanlipi_20-04-07.woff') format('woff'), url('assets/fonts/solaimanlipi_20-04-07.ttf') format('truetype'), url('assets/fonts/solaimanlipi_20-04-07.svg#SolaimanLipiNormal') format('svg');
}

body {
    /* font-family: "Baloo Da 2", sans-serif; */
    font-family: SolaimanLipiNormal;
    font-size: 15px;
    line-height: 150%;
   overflow-x: hidden;
   color: black;
}


.theam-bg{
    background-image: url("assets/images/leade-theam.jpg");
    background-size: cover;
    opacity: 1;
    background-attachment: fixed;
    height: 800px;
}

.explore {
    width: 34%;
}

.learn-more {
    width: 28%;
}

.item-lead {
    font-size: 60px;
    font-weight: 500;
}


